@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

.shop_card {
    max-width: 887px;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 82px;
    box-shadow: 0px 24px 28px 9px rgba(179, 193, 217, 0.33);
    overflow: hidden;
}

.card_container {
    display: flex;
}

.img_section {
    width: 249px;
    height: 223px;
    margin-right: 32px;
}

.img_section img {
    width: 100%;
}

.text_cont {
    width: 442px;
    font-family: 'Poppins', sans-serif;
}

.text_cont .free {
    width: 112px;
    height: 29px;
    padding: 4px 8px;
    background: #191847;
    border-radius: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;
}

.text_cont .title {
    width: 419px;
    margin-top: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #191847;
}

.text_cont .old-cash {
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-decoration-line: line-through;

    color: #191847;
}

.text_cont .new-cash {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    color: #191847;
}

.text_cont .info {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #191847;
}

.text_cont .btn {
    width: 442px;
    height: 59px;

    margin-bottom: 32px;

    outline: none;
    border: none;

    background: #4788E9;
    border-radius: 8px;
    box-shadow: 0px 7px 0px #1C57EE;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s;
}

.text_cont .btn:active {
    transform: translateY(7px);
    box-shadow: 0px 0px 0px #1C57EE;
}

.text_cont .stock {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.text_cont .stock .circle {
    position: relative;
    margin-right: 8px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #00D98B;
}

.text_cont .stock .text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #000000;
}

.text_cont .button_section {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.text_cont .button_section button {
    width: 213px;
    height: 64px;
    background-color: transparent;
    border: 2px solid #C9C9DA;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.text_cont .button_section button .icon-svg{
    overflow: hidden;
}
.text_cont .button_section button .icon-svg{
     user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.text_cont .button_section button .text {
    transform: translateY(-3px);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #191847;
}
